<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExchangeV1">
   <listeners>
      <listener class-name="com.exchange.utilities.Reporting"/>
   </listeners>
   <test name="Exchange App Test">
     <parameter name="browser" value="chrome"/>
     <classes>
        <class name="com.exchange.testCases.TC_LoginTest_001"/>
     </classes>
   </test>
</suite>



